body{
	background-color: #EDEFF0;
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-size: 15px;
	line-height: 40px;
	font-weight: bold;
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	color: #0080FF;
}

a {
	color: brown;
	text-decoration: none;
	transition: color 0.3s ease;
}

a:hover {
    color: red;
}


img {
	height: 200px;
}


table, td, th {
	border : solid 1px black;
	padding: 10px;
}

#container {
	width: 70%;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.img-center {
	width:auto;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.card-white {
	border: solid 1px lightgrey;
	background-color: white;
	padding: 10px;
}

.list-inline > li {
display: inline-block;
width: 90px;
padding-left: 0px;
list-style: none;

}

#navbar-left {
	position: fixed;
	top: 0;
	left: 0;
	width: 10%;
	height: 100%;
	background-color: #384047;

}

.fa-grey {
	color: #778087;
	font-size: 25px;
	line-height: 3;
	list-style: none;

} 





